{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_extras %}

{% block title %} ABolFazl Badie Blog | Post {{ post.id }} {% endblock %}

{% block content %}

<section dir="auto" class="max-w-screen-md min-h-screen w-full mx-auto p-4 flex justify-center py-16">

    <div dir="auto" class="w-full flex flex-col gap-3 p-1">
        <img src="{{ post.banner.url }}" alt="Banner" class="w-full rounded-lg">

        <span dir="auto" class="text-blue-500 mt-4 text-[16px] flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              
            {{ post.created_at|naturaltime }}
        </span>

        <h1 dir="auto" class="w-full text-[26px] lg:text-[32px] text-white">{{ post.title }}</h1>

        <div class="prose prose-invert max-w-none prose-pre:bg-gray-900 prose-a:text-blue-500 hover:prose-a:text-blue-600 prose-code:text-[16px]">{{ post.body | markdown | safe }}</div>

    </div>

    <div class="fixed bottom-4 left-4">
        <a href="{% url 'index' %}" class="p-2 rounded-full bg-zinc-800 border border-zinc-700 shadow-md flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
            </svg>
        </a>
    </div>

</section>

{% endblock content %}