{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} ABolFazl Badie Blog {% endblock %}

{% block content %}

<section dir="auto" class="max-w-screen-md min-h-screen mx-auto p-4 flex justify-center py-16 flex-col gap-16">

    {% if posts %}
    {% for post in posts %}
    <div dir="auto" class="flex flex-col gap-3">
        <img src="{{ post.banner.url }}" alt="Banner" class="w-full rounded-lg">

        <span dir="auto" class="text-blue-500 mt-4 text-[16px] flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              
            {{ post.created_at|naturaltime }}
        </span>

        <h1 dir="auto" class="text-[32px] font-medium text-white">{{ post.title }}</h1>

        <p class="text-[15px] text-[#EEEEEC] leading-7 text-justify">
            {{ post.description }}
        </p>

        <div dir="auto" class="mt-4">
            <a href="{% url 'detail' post.id %}"
                class="text-[14.4px] border-2 border-zinc-900 py-2.5 px-7 font-bold hover:bg-zinc-900 transition">
                READ MORE
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <div class="flex justify-center flex-wrap items-center gap-3 py-10">

        {% if posts.has_previous %}
        <!-- <a href="{% url 'index' 1 %}">
            <button class="px-5 py-1.5 transition border-2 border-zinc-900 hover:bg-zinc-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                  </svg>                  
            </button>
        </a> -->
        <a href="{% url 'index' posts.previous_page_number %}">
            <button class="px-5 py-1.5 transition border-2 border-zinc-900 hover:bg-zinc-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                  </svg>                  
            </button>
        </a>
    {% endif%}

    {% if posts.has_next %}
        <span>{{ posts.number }} of {{ posts.paginator.num_pages }}</span>

        <a href="{% url 'index' posts.next_page_number %}">
            <button class="px-5 py-1.5 transition border-2 border-zinc-900 hover:bg-zinc-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                  </svg>                                  
            </button>
        </a>
        <!-- <a href="{% url 'index' posts.paginator.num_pages %}">
            <button class="px-5 py-1.5 transition border-2 border-zinc-900 hover:bg-zinc-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                  </svg>                  
            </button>
        </a> -->
    {% endif%}

    <!--

    {% for page_number in posts.paginator.page_range %}
            <a
            href="{% url 'index' page_number %}"
            class="{% if page_number == posts.number %} bg-blue-600 border-blue-600 {% else %} border-zinc-900 hover:bg-zinc-900 {% endif %} py-1.5 px-4 flex items-center border-2 font-bold"
        >
            {{ page_number }}
        </a>
    {% endfor %} -->

        <!-- {% for page_number in posts.adjusted_elided_pages %}
        {% if page_number == posts.paginator.ELLIPSIS %}
            {{ page_number }}
        {% else %}
            <a
                href="{% url 'index' page_number %}"
                class="{% if page_number == posts.number %} bg-blue-600 border-blue-600 {% else %} border-zinc-900 hover:bg-zinc-900 {% endif %} py-1.5 px-4 flex items-center border-2 font-bold"
            >
                {{ page_number }}
            </a>
        {% endif %}
    {% endfor %} -->

    </div>

</section>

{% endblock content %}